.App {
  text-align: center;
  margin: 20px;
}

.c-m {
  margin: 5px;
  align-self: center;
  text-align: center;
}

#topic-card {
  height: 100px;
  margin: 10px; 
  background-color:#eee2d6; 
  color:black;
  font-size: 25px;
  line-height: 100px;
}
#topic-card-sel {
  height: 100px;
  margin: 10px; 
  background-color:#caaf94; 
  color: black;
  font-size: 25px;
  line-height: 100px;
  border-width: 3px;
  border-color: black;
}

#title-input {
  width:60%;
  font-size:60px;
  font-family: 'Pirata One', cursive;
  text-align: center;
}
#header {
  font-size:80px;
  font-family: 'Pirata One', cursive;
  margin: 0px;
}
